.main-slider
    padding-top: 45px
    &__content
        h2
            font-size: 36px
            font-weight: normal
            color: #394252
            +FFRR
    &__info
        +FFRL
        font-size: 18px
        padding-bottom: 32px
    &__inner
    &__item
        max-width: 270px
        .pic
            text-align: center
            height: 360px
            border: #e6e7e9 solid 5px
            line-height: 360px
            img
                margin-left: auto
                margin-right: auto
                display: unset
        .title
            line-height: 49px
            background: #394252
            color: #ffffff
            font-size: 16px
            +FFRR
            padding: 0 14px
        &:hover
            .pic
                border-color: #ffb400
            .title
                background: #ffb400
                color: #000000